@{
    ViewBag.Title = "Index";
}


<form method="GET" action="http://localhost:62902/api/queue/7/851255a1-213c-4299-a50b-57a06f4a2ed0"><br/>
    Organization Id <input id="OrganizationId" type="text" value="7" /><br />
    Api Key<input id="ApiKey" type="text" value="851255a1-213c-4299-a50b-57a06f4a2ed0"/><br />
    From <input id="mailFrom" value="ovinokurov@wmeentertainment.com"/><br />
    To<input id="mailTo" value="olegvinokurov@hotmail.com"/><br />
    Subject <input id="Subject" value="Another Test"/><br />
    body <textarea id="mailBody">Testing body message</textarea><br />
    <input id="Submit1" type="submit" value="submit" />
</form>